<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Favoritos Alvorada</title>
	<!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/css_padrao.css}">
	
</head>
<body>
	<!-- formulario busca -->
	<form method="post" action="/hotelweb/quarto/listar">
	        <h1>Alvorada</h1>
	        <h1>Seja bem vindo</h1>
	        <h2>Aqui voce encontra o conforto que precisa</h2>
	
	        <label for="entrada">Data entrada: </label>
	        <input type="date" name="entrada" id="entrada" required th:value="${entrada}">
	
	        <label for="saida">Data saida: </label>
	        <input type="date" name="saida" id="saida" required th:value="${saida}"><br><br>
	
	        <label for="capacidade">Capacidade máxima de pessoas por quarto:</label><br>
	        
	        <label for="cap_um">Máximo uma pessoa:</label>
	        <input type="radio" id="capacidade" name="capacidade" value="1" th:checked="${capacidade == 1}"><br>

	        <label for="cap_dois">Máximo duas pessoas:</label>
	        <input type="radio" id="capacidade" name="capacidade" value="2" th:checked="${capacidade == 2}"><br>
	
	        <label for="cap_tres">Máximo cinco pessoas:</label>
			<input type="radio" id="capacidade" name="capacidade" value="5" th:checked="${capacidade == 5}"><br>
	        <button type="submit">Buscar</button>
	    </form>
	    
	<!-- quarto/favoritos -->
	<div class="box">
		<h1>Seus quartos favoritos</h1>
		
		<table>
	        <tr>
	            <th>Número</th>
	            <th>Descrição</th>
	            <th>Nota</th>
	            <th>Capacidade</th>    
	            <th>Valor</th>
	        </tr>
	        
	        <tr th:each="quarto, stats: ${session.favoritos}">
	            <td th:text="${quarto.id}"></td>
	            <td th:text="${quarto.descricao}"></td>
	            <td th:text="${quarto.nota}"></td>
	            <td th:text="${quarto.capacidade}"></td>
	            <td th:text="${#numbers.formatCurrency(quarto.valor)}" class="monetario"></td>
	            <td>
	                <span class="operacao"><a th:href="@{|/quarto/desfavoritar?quarto=${quarto.id}|}">Desfavoritar</a></span>
	            </td>
	        </tr>
	    </table>
		
		<ul>
			<li><a th:href="@{/quarto/listar(entrada=${entrada}, saida=${saida}, capacidade=${capacidade})}">Voltar</a></li>
		</ul>
	</div>
	
</body>
</html>