<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/css_padrao.css}">
	<!-- JS -->
	<!-- <script th:src="@{/js/home.js}"></script> -->
	<!-- <script th:inline="javascript"></script> -->

    <title>Home Hotel Alvorada</title>
</head>
<body>
<form method="post" action="/hotelweb/quarto/listar">
<!-- 	<form onsubmit="handleSubmit(event)"> -->

		 <p>
	    	<a th:href="@{/cliente/logout}">Logout</a>	
		</p>
		
        <h1>Alvorada</h1>
        <h1>Seja bem vindo</h1>
        <h2>Aqui voce encontra o conforto que precisa</h2>

        <label for="entrada">Data entrada: </label>
        <input type="date" name="entrada" id="entrada" required>

        <label for="saida">Data saida: </label>
        <input type="date" name="saida" id="saida" required><br><br>

        <label for="capacidade">Capacidade máxima de pessoas por quarto:</label><br>
        
        <label for="cap_um">Máximo uma pessoa:</label>
        <input type="radio"  id="capacidade" name="capacidade" value="1" required><br>

        <label for="cap_dois">Máximo duas pessoas:</label>
        <input type="radio" id="capacidade" name="capacidade" value="2" required><br>

        <label for="cap_tres">Máximo cinco pessoas:</label>
        <input type="radio" id="capacidade" name="capacidade" value="5" required><br><br>
        
        <button type="submit">Buscar</button>
    </form>

<!-- Conteúdo do box -->
<!-- <div class="box"> -->
<!-- <p>BOX EXEMPLO</p> -->
<!-- </div> -->
    
</html>